* {
    padding: 0;
    margin: 0;
}

.main {
    /* flex */
    display: flex;

    /* size */
    height: 95vh;
    width: 100%;

    /* space */
    margin: 10px;
}

.main>* {
    /* size */
    flex-grow: 1;
    height: 100%;
}

.graph {
    /* self-flex */
    flex-grow: 4;
    /* border */
    border: none;
}

.graph * {
    margin: 0;
}

.legend {
    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
}

.square {
    height: 50px;
    width: 50px;
    background-color: var(--color);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid var(--color);
}

.circle {
    height: 50px;
    width: 50px;
    background-color: var(--color);
    border-radius: 50%;
}